/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.container {
  .searchRow {
    width: 100%;
    // display: flex;
    :global {
      .ant-form {
        width: 100%;
      }
    }

    .formBtnBox {
      display: flex;
      flex: 1;
      width: 76px;
      height: 40px;
      color: #fff;
      line-height: 40px;
      padding-left: 10px;

      div {
        padding: 0 24px;
        cursor: pointer;
      }

      div:not(:last-child) {
        margin-right: 8px;
      }

      .searchBtn {
        background-color: #1967ff;
      }

      .resetBtn {
        background-color: rgba(43, 74, 138, 0.42);
        border: 1px solid rgba(23, 101, 173, 0.5);
      }

      .exportBtn {
        background-color: rgba(25, 103, 255, 0.1);
        border: 1px solid #1967ff;
        display: flex;
        justify-content: center;
        border-radius: 2px;

        span {
          display: none;
        }
      }

      .exportIcon {
        justify-content: space-between;
        width: 77px;
        position: relative;
        padding-right: 24px;

        &::before {
          content: '';
          position: absolute;
          border-left: 1px solid #084599;
          height: 20px;
          top: 10px;
          right: 50px;
        }

        span {
          display: inline;
        }
      }
    }
  }

  .totalRow {
    $ring: url('../../images/wireless-ring.png');
    $rate: url('../../images/wireless-rate.png');
    $noRing: url('../../images/wireless-no-ring.png');
    $noRate: url('../../images/wireless-no-rate.png');
    display: flex;
    justify-content: space-between;
    //width: 910px;
    .totalItem {
      display: flex;
      width: auto;
      align-items: center;

      .iconItem {
        display: block;
        width: 50px;
        height: 37px;
        margin-right: 8px;
      }

      .ringIcon {
        background: $ring no-repeat;
        background-size: 100% 100%;
      }

      .rateIcon {
        background: $rate no-repeat;
        background-size: 100% 100%;
      }

      .noRingIcon {
        background: $noRing no-repeat;
        background-size: 100% 100%;
      }

      .noRateIcon {
        background: $noRate no-repeat;
        background-size: 100% 100%;
      }

      .textBox {
        span {
          padding: 0;
          margin: 0;
        }

        .title {
          color: #52a9ea;
          font-size: 14px;
          display: block;
        }

        .value {
          font-family: PMZD, sans-serif;
          font-size: 16px;
          color: #FFFFFF;
        }
      }
    }
  }

  .tableBox {
    margin-top: 24px;
  }

  :global {
    .ant-table {
      .ant-table-content {
        &::-webkit-scrollbar {
          width: 5px;
        }

        &::-webkit-scrollbar {
          width: 5px;
          height: 5px;
        }

        /* 滚动槽 */
        &::-webkit-scrollbar-track {
          border-radius: 4px;
        }

        /* 滚动条滑块 */
        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          background-color: #5d97bd;
        }

        &::-webkit-scrollbar-thumb:window-inactive {
          height: 3px;
          background: #5d97bd;
        }
      }

      background-color: #000c28;
      color: #fff;

      .ant-table-thead {
        tr {
          border: 1px solid #008eff;
          border-left: none;
          border-right: none;
          border-image: linear-gradient(
              270deg,
              #008eff 0%,
              #00cdff 50%,
              #008eff 100%
          ) 1;
        }

        th {
          background: rgba(0, 88, 167, 0.38);
          color: #00fcff;
          border: none;

          &:before {
            width: 0 !important;
            height: 0 !important;
          }
        }
      }

      .ant-table-tbody {
        td {
          border: none;
          color: #fff;
        }
      }

      .ant-table-row:hover > td {
        background-color: #000c28;
      }

      .ant-table-row {
        td {
          height: 30px !important;
        }
      }

      /* 设置滚动条的样式 */
    }

    .ant-table-pagination {
      // background: linear-gradient(270deg, rgba(37, 125, 170, 0), rgba(0, 205, 239, .5)) !important;
      li {
        border-top: 1px solid rgba(94, 191, 255, 0.58) !important;
        border-bottom: 1px solid rgba(94, 191, 255, 0.58) !important;
        border-left: none;
        border-right: none;
        // border: none;
        border-radius: 0;
        background: rgba(24, 160, 212, 0.3) !important;

        a {
          color: #409eff;
        }
      }

      .ant-pagination-disabled {
        border: none;
        background: linear-gradient(
            270deg,
            rgba(37, 125, 170, 0),
            rgba(0, 205, 239, 0.5)
        ) !important;

        .ant-pagination-item-link {
          color: #7fb0de;
        }
      }

      .ant-pagination-total-text {
        color: #7fb0de;
        border: none !important;
        font-size: 12px;
        background-color: transparent !important;
      }

      .ant-pagination-item-link {
        color: #fff;
      }

      .ant-pagination-item-active {
        border: none;

        a {
          color: #fff !important;
        }
      }
    }
  }
}
