.container{
    line-height: 39px;
    height: 39px;
    flex: 1;
    // border: 2px solid;
    // border-image: linear-gradient(270deg,
    //     rgba(0, 136, 175, 0.98) 1%,
    //     #0088af) 2 2;
    box-sizing: border-box;
    border: 1px solid rgba(23,101,173,0.64);
    border-radius: 2px;
}