/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/
.dev-essen-name {
    width: 700px;
    height: 38px;
    background-image: linear-gradient(
        270deg,
        rgba(0, 45, 99, 0) 0%,
        rgba(0, 45, 99, 0.4) 35%,
        rgba(0, 45, 99, 0.4) 74%,
        rgba(0, 45, 99, 0) 100%
    );
    font-family: FZZDHJW, sans-serif;
    font-weight: 0;
    font-size: 16px;
    color: #ffffff;
    letter-spacing: 0.5px;
    line-height: 38px;
    display: flex;
    flex-direction: row;
    img {
        margin-right: 10px;
    }
    span{
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}