/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/
$canvasHeight: 526px;
$canvasWidth: 750px;
.container {
    .metropolitan-area-network {
        position: relative;
        .network-body {
            height: 526px;
            width: 750px;
            margin: auto;
            // background: url("../assets/images/chengyuwang.png");
            // background-size: 100% 100%;
            // background-repeat: no-repeat;
            // background-repeat: no-repeat;
            // background-size: 750px 476px;
            // background-position-y: 50px;
            z-index: 10;
        }
        .three-dom {
            height: 22px;
            font-family: 'FZZDHJW', sans-serif;
            font-weight: 0;
            font-size: 18px;
            color: #00C5F5;
            position: absolute;
            text-align: center;
            left: -50%;
            right: -50%;
            width: $canvasWidth;
            margin: auto;
            z-index: 9;
        }
        .hexinceng{
            top: 30px;
            height: calc($canvasHeight/3);
            line-height: calc($canvasHeight/3);
            background: url("../assets/images/one.png");
            background-position: center 80%;
            background-size: 388px 98px;
            background-repeat: no-repeat;
        }
        .huijuceng{
            top: calc(30px + $canvasHeight/3);
            height: calc($canvasHeight/3);
            line-height: calc($canvasHeight/3);
            background: url("../assets/images/two.png");
            background-position: center 80%;
            background-size: 673px 165px;
            background-repeat: no-repeat;
        }
        .jieruceng{
            top: calc(30px + $canvasHeight/3 *2);
            height: calc($canvasHeight/3);
            line-height: calc($canvasHeight/3);
            background: url("../assets/images/three.png");
            background-position: center 80%;
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }

    }
    .network-top-title{
        background: url("../assets/images/network-topology.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 140px;
        margin: 10px auto;
        height: 30px;
        line-height: 30px;
        text-align: center;
    }
    .chartTooltip {
        background: red;
    }
}
